<% provide :title, t(".sign_up") %>
<% provide :button_text, t(".sign_up") %>
<div id= "main">
  <div class="row pt-4 pb-5">
    <h3 class="m-auto"><%= t ".sign_up" %></h3>
  </div>
  <div class="row">
    <%= render "form" %>
  </div>
</div>
