<% provide :title, t(".add_schedule") %>
<% provide :button_text, t(".save_schedule") %>
<div class="tail-top">
  <div class="tail-bottom">
    <div id= "main">
      <div class="row pt-4 pb-5">
        <h3 class="m-auto"><%= t ".add_schedule" %></h3>
      </div>
      <div class="row">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
