<footer id="footer">
  <div class="left">
    <div class="right">
      <div class="footerlink">
        <p class="lf"><%= t(".copy")%></p>
        <p class="rf"><%= t(".redesign")%></p>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</footer>
